@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

button.accordion {
      font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
      cursor: pointer;
      padding: 0px;
      border: none;
      text-align: left;
      outline: none;
      font-size: 100%;
      transition: 0.4s;
      background-color: #f8f8f8;
      }
button.accordion.active, button.accordion:hover {
      background-color: #f8f8f8;
      }
button.accordion:after {
      content: '[+]';
      font-size: 90%;
      color:#777;
      float: left;
      margin-left: 1px;
      }
button.accordion.active:after {
    content: "[\2212]";
    }

div.panel {
      padding: 0 20px;
      margin-top: 5px;
      display: none;
      background-color: white;
      font-size: 100%;
      }
div.panel.show {
      display: block !important;
      }

.my_title {
      font-weight: bold;
      font-size: 100%;
}

.info_spacer {
      margin: 20px 0 5px;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 552px;
    bottom: 0px;
    z-index: 1;
    width: 40%;
    height: 100%;
  }

.main-content {
    position: relative;
    padding: 40px;
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 40%;
    float: none;
    clear: none;
  }

@media print, screen and (max-width: 767px) {
  .sidebar {
    position: static;
    width: 100%;
    padding-left: 65px;
  }
  .main-content {
    width: 100%;
    margin-left: 0%;
  }
}
